body {
    margin: 0;
    padding: 0;
    direction: ltr;
}

.parent {
    max-width: 1366px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.calculator {
  width: 200px;
  position: relative;
    padding: 30px;
    border: 3px solid #d4b2d8;
    background-color: #ababa9;
    border-radius: 7px;
    box-shadow: 3px 3px 5px 2px rgb(213, 178, 217);

} 

.p-screen {
position: relative;
bottom: 17px;
display: flex;
align-items: center;
justify-content: center;
}
#screen {
    height: 50px;
    width: 100%;
    border: 0;
    border-radius: 4px;
    outline: 0;
}

.p-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.main {
    display: flex;
    width: 75%;
    flex-direction: column;
    align-items: center;
}
.first , .second , .third , .forth {
    margin-bottom: 5px;
}
.plus {
    width: 23%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.plus button {
    width: 46px;
    height: 110px;
       border: 0;
    border-radius: 4px;
    font-size: 20px;
}
.first , .second , .third , .forth , .fifth {
    width: 100%;
}
.first button {
    width: 46px;
    height: 35px;
       border: 0;
    border-radius: 4px;
    font-size: 20px;
}
.first :nth-child(1) {
     background-color: #1f232e;
     color: white;
}


.second button {
    width: 46px;
    height: 35px;
    border: 0;
    border-radius: 4px;
    font-size: 25px;
}
.third button {
    width: 46px;
    height: 35px;
       border: 0;
    border-radius: 4px;
      font-size: 25px;
}
.forth button {
 width: 46px;
 height: 35px;
    border: 0;
    border-radius: 4px;
      font-size: 25px;
}

.first , .second , .third , .forth , .fifth {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin-bottom: 5px; */
}



.fifth :nth-child(1) {
    width: 98px;
    height: 35px;
       border: 0;
    border-radius: 4px;
      font-size: 25px;
          background-color: #1f232e;
          color: white;
}
.fifth :nth-child(2) {
    width: 46px;
    height: 35px;
       border: 0;
    border-radius: 4px;
        background-color: #1f232e;
        color: white;
}


.fifth :nth-child(3) {
    /* background-color: darkorange; */
    border: 0;
    width: 46px;
    height: 35px;
       border: 0;
    border-radius: 4px;
    font-size: 20px;
}



.p-result {

    position: relative;
    top: 17px;
}

#result {
    width: 75%;
     height: 38px;
        border: 0;
    border-radius: 4px;
    outline: 0;
}


.pink-color {
    background-color: #d4b2d8;
}
.p-color {
    color: #d4b2d8;
}

.c-white {
    color: white;
}


.display {
    display: flex;
    align-items: center;
    justify-content: center;
}








/* button {
    width: 35px;
} */